---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-bg: #ededed;
$hr-border: darken($body-bg, 15%);
$brand-primary: #ea9417;
$navbar-default-link-color: #005680;
$icon-font-path: "/assets/fonts/bootstrap/";
$np-green: #62b12f;
$np-blue: #005680;

// Import partials from `sass_dir` (defaults to `_sass`)
@import  "bootstrap";
@import  "blog";

@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,700);

.navbar-brand {
	padding: 0px;
	padding-right: 40px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}

.marketing img {
    background-color: #fff;
    border: 1px solid $gray-light;
    padding: $padding-base-vertical $padding-base-horizontal;
}

.marketing .col-lg-6 {
    text-align: center;
}

.spacer {
    height: 1ex;
}

.spacer2 {
    height: 2ex;
}

.icon {
	width: 2em;
}

.box {
  border: 5px solid #fff;
  cursor: pointer;
  height: 250px;
  margin: 10px 0;
  float: left;
  position: relative;
  overflow: hidden;
  width: 250px;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
}

.box .simple-caption {
  height: 40px;
  width: 250px;
  display: block;
  bottom: -40px;
  line-height: 25pt;
  text-align: center;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.caption h2 {
  font-size: 1.1em;
  padding: 10px;
  margin: 0;
  text-transform: capitalize;
}

.homepage #row-2 h2,
.homepage #row-3 h2 {
  text-align: left;
}
.homepage ul.news,
.homepage ul.training {
  list-style: none;
  margin:0;
  padding:0;
}
.homepage ul.news li,
.homepage ul.training li {
  margin: 0;
  padding: 0;
  text-align: left;
}
.homepage ul.news li h3.media-heading,
.homepage ul.training li h3.media-heading {
  font-size:1.2em;
}

address {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

blockquote {
	font-size:1em;
	font-style:italic;
}


/* History timeline styles
-------------------------------------------------- */

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #ea9417;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ea9417 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #ea9417;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ea9417 transparent transparent;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

/*
 Responsive container max width limit 
 Large devices (large desktops, 1200px and up)
--------------------------------------------*/
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1170px;
  }
}

/* Responsive text alignment
-----------------------------------------------------*/
.text-justify-xs {
    text-align: justify;
}

.text-center-xs {
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
	.text-center-sm {
		text-align: center;
	}
	
	.text-left-sm {
		text-align: left;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
	.text-center-md {
		text-align: center;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
	.text-center-lg {
		text-align: center;
	}
}

/* --------------------------------------
   Scrolling Nav Stuff
   --------------------------------------*/
   
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.sn-section {
    min-height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

#intro {
  padding-top: 100px;
}

.sn-section:nth-child(even) {
    background: #eee;
}

.sn-lead-image {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /* background: #fff;
	background-image: url('/assets/images/data.path.jpg'); */
}

.sn-lead-image:after {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/images/data.path.jpg); 
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.scrollnav body {
    width: 100%;
    height: 100%;
}

html.scrollnav {
    width: 100%;
    height: 100%;
}

.spacer-top {
  padding-top: 70px;
}

.intropara {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  margin-top: 50px;
}

.highlight {
  font-size: 125%;
  font-weight: bold;
}

.spacer4 {
	height: 4ex;
}
.brokenfile img{
	text-align:center;
	width:400px;
	height:400px;
	float:left;
	margin-right:30px;
}

/* Carousel */
.carousel-control.left {
	background-image: none;
	background-repeat: none;
}

.carousel-control.right {
	background-image: none;
	background-repeat: none;
}

.carousel-control {
	color: $brand-primary;
}

.carousel-control:hover {
	color: $brand-primary;
	opacity: 0.9;
}

.carousel-caption {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.carousel-caption a {
    color: #fff;
}

.carousel-caption a:hover {
	color: #fff;
}

/* Services */
.placeholder {
	border: 2px solid #dddddd;
    background: #dddddd;
    width: 160px;
	height:80px;
    border-radius: 20px;
	margin: 0 auto;
}