.gap-right {
  margin-right: 1em; 
}

.gap-left {
  margin-left: 1em; 
}

.gap-right-dbl {
  margin-right: 2em; 
}

.gap-left-dbl {
  margin-left: 2em; 
}

.gap-top {
  margin-top: 1em; 
}

.gap-bottom {
  margin-bottom: 1em; 
}

.gap-top-dbl {
  margin-top: 2em; 
}

.gap-bottom-dbl {
  margin-bottom: 2em; 
}

