<footer class="footer">
    <div class="container">
        <div class="spacer">&nbsp;</div>
        <div class="row">
            <div class="col-xs-6">
                <p>&copy; 2016 Networked Planet Limited.</p>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <a href="/">Home</a>
                </div>
            </div>
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <small class="text-muted">Registered in England no. 5273377 Registered Office: 17 Cosgrove Road, Old Stratford, Milton Keynes, MK19 6AG</small>
            </div>
        </div>
    </div>
</footer>