<footer class="footer">
    <div class="container">
        <div class="spacer">&nbsp;</div>
        <div class="row">
            <div class="col-xs-6">
                <p>&copy; 2016 Networked Planet Limited.</p>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <a href="#">Back to top</a>
                </div>
            </div>
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <small class="text-muted">Registered in England no. 5273377 Registered Office: 17 Cosgrove Road, Old Stratford, Milton Keynes, MK19 6AG</small>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Bootstrap plugins -->
<script src="{{ '/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/scrolling-nav.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

<!-- CookieCuttr script -->
<script src="{{ '/assets/javascripts/js.cookie-1.5.1.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/jquery.cookiecuttr.js' | prepend: site.baseurl }}"></script>
<script>
    $(document).ready(function() {
        $.cookieCuttr({cookieDeclineButton: true});
    });
    
    if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
        // do nothing
    } else {
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		 ga('create', 'UA-770913-1', 'auto', { 'allowLinker': true });
		ga('require', 'linker');
		ga('linker:autoLink', ['testing.networkedplanet.com']);
		ga('linker:autoLink', ['levelup.networkedplanet.com']);
		ga('linker:autoLink', ['support.networkedplanet.com']);
		ga('send', 'pageview');
		
    }
</script>

