<footer class="footer">
    <div class="container">
        <div class="spacer">&nbsp;</div>
        <div class="row">
            <div class="col-xs-6">
                <p>&copy; <span id="crYear">2017</span> Networked Planet Limited.</p>
                <script>
                    var d = new Date();
                    document.getElementById("crYear").innerHTML = d.getFullYear();
                </script>
            </div>
            <div class="col-xs-6">
                <div class="nav navbar-right footer-nav">
                    <a href="/" title="Networked Planet home page">Home</a>
                    <a href="/blog/" title="Networked Planet Blog">Blog</a>
                    <a href="/glossary/" title="Glossary of terms">Glossary</a>
                    <a href="/data-protection.html" title="Glossary of terms">Data Protection</a>
                </div>
            </div>
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <small class="text-muted">Registered in England no. 5273377 Registered Office: 17 Cosgrove Road, Old Stratford, Milton Keynes, MK19 6AG</small>
            </div>
        </div>
    </div>
</footer>