<nav class="navbar navbar-default top-nav-collapse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll primary" href="/"><img src="/assets/images/Networked_Planet_Full_Colour_Web.png" alt="{{ site.title }}" class="np-header-logo" /> </a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="hidden">
					<a href="/" title="Networked Planet"></a>
				</li>
				<li>
					<a href="/services" title="Networked Planet: Services">Services</a>
				</li>
				<li>
					<a href="/training" title="Networked Planet: Training">Training</a>
				</li>
				<li>
					<a href="/products" title="Networked Planet: Products">Products</a>
				</li>
				<li>
					<a href="/support/" title="Networked Planet: Support">Support</a>
				</li>
				<li>
					<a href="/blog/" title="Networked Planet: Blog">Blog</a>
				</li>
				<li>
					<a href="/about-us" title="Networked Planet: About Us">About Us</a>
				</li>
				<li>
					<a href="/contact" title="Networked Planet: Contact">Contact </a>
				</li>
			</ul>
			<div class="navbar-nav nav navbar-right">
				<a href="https://twitter.com/nwplanet" class="hb-xs-margin"><span class="hb hb-xs spin-icon hb-twitter"><i class="fa fa-twitter"></i></span></a>
				<a href="https://www.linkedin.com/company/2359324/" class="hb-xs-margin"><span class="hb hb-xs spin-icon hb-linkedin"><i class="fa fa-linkedin-square"></i></span></a>
			</div>
		</div>
	</div>
</nav>
