.tag_list li {
	display: inline-block;
	list-style-type: none;
}

.tag_list {
	padding: 0px;
	margin-bottom: 10px;
}

.archive_list {
	padding: 0px;
	list-style-type: none;
}

.bordered-image {
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.header-image {
	margin-right: 1em;
	margin-bottom: 0.5ex;
}