---
layout: page
title: NetworkedPlanet Blog
---

<h2>Recent Posts</h2>

<div class="row">
    {% for post in paginator.posts offset:0 limit:2 %}
        <div class="col-md-6">
			{% include teaser-post.html post=post %}
        </div>
    {% endfor %}
</div>
<div class="row">
    {% for post in paginator.posts offset:2 limit:2 %}
        <div class="col-md-6">
			{% include teaser-post.html post=post %}
        </div>
	{% endfor %}
</div>
<div class="row">
    {% for post in paginator.posts offset:4 limit:2 %}
        <div class="col-md-6">
			{% include teaser-post.html post=post %}
        </div>
    {% endfor %}
</div>


{% if paginator.total_pages > 1 %}
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo; Prev</a></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
                <li><a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">Next &raquo;</a></li>
        {% endif %}
    </ul>
{% endif %}