---
layout: homepage
mailchimp: true
---
<!-- Homepage Section -->
    <section id="intro" class="sn-section pending">
        <div class="container-fluid homepage">

			<div class="spacer"></div>

			<div class="row cta">

				<div class="col-sm-4">
					<a href="/details.html#dataplatform" title="Data Platform">
						<img id="" src="/assets/images/homepage/logos/dataplatform.png" alt="Data Platform"/>
					</a>
					<h2>Data Platform</h2>
					<p>Data management and publishing tool suite</p>
				</div>

				<div class="col-sm-4">

					<a href="/details.html#datadock" title="DataDock">
						<img id="" src="/assets/images/homepage/logos/datadock.png" alt="DataDock"/>
					</a>
					<h2>DataDock</h2>
					<p>Free cloud-hosted data publishing portal</p>
				</div>

				<div class="col-sm-4">
					<a href="/details.html#consultancy" title="Consultancy">
						<img id="" src="/assets/images/homepage/logos/consultancy.png" alt="Consultancy"/>
					</a>
					<h2>Projects & Consultancy</h2>
					<p>Large or small, we help you gain control of your data</p>
				</div>

			</div>

			<div class="spacer"></div>

			<div class="row home-mid-row" id="row-2">
				<div class="col-sm-6">
					<p class="intropara lead">
						We provide the <span class="highlight">knowledge, experience and tools</span>
						to help organisations
						of all sizes make the best use of their data,
						content and knowledge. We connect
						people with the information they need, when they need it.
					</p>
					<div class="text-center">
						<a class="btn page-scroll btn-lg btn-primary text-center" href="/services">Find out more</a>
						<a class="btn page-scroll btn-lg btn-primary text-center" href="/upcoming">Upcoming Events</a>
					</div>
				</div>
				<div class="col-sm-6 text-justify">
					<h2>From the blog:</h2>
					<ul class="news">
						{% for post in site.posts limit:2 %}
						<li>
							{% include teaser-post.html post=post %}
						</li>
						{% endfor %}
					</ul>
					<p class="text-right"><a href="/blog" title="More blog posts">More &raquo;</a> </p>
				</div>
			</div>

			<div class="spacer"></div>

			<div class="row" id="row-3">
				<div class="col-sm-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EbpRofMqzF0"></iframe>
					</div>
				</div>
				<div class="col-sm-6 text-justify about">
					<p>At Networked Planet we're committed to using our years of experience with information management
						to help companies that are helping others. Our "data for good" projects focus on helping
						charities and voluntary organisations be more effective in their use of data.</p>
					<p>We offer <a href="/services">consultancy</a> and <a href="/training">training</a> to help organisations tackle digital information management
						challenges with confidence. We also build standards-based open source <a href="/products">software and tools</a>.</p>
					<p>Every project should be built from the ground up, tailor-made to your needs.
						To start that conversation just <a href="#contact">drop us a line</a>. </p>
				</div>
			</div>
			<div class="spacer"></div>
        </div>
    </section>