---
layout: default
---
<div class="post">

	<div class="spacer-top"></div>
	{% include breadcrumb.html %}
	
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="row spacer2">&nbsp;</div>
  
  <hr/>
  <nav>
    <p>Filed under: {% for tag in page.tags | sort %} <a href="/tag/{{ tag | slugify }}/">{{ tag }}</a> {% endfor %}</p>
    <p class="clearfix">
        {% if page.previous %}
            <span class="pull-left">
                <a class="btn btn-primary" href="{{ page.previous.url }}" role="previous">&lt;&lt; {{page.previous.title}}</a>
            </span>
        {% endif %}
        {% if page.next %}
        <span class="pull-right">
            <a class="btn btn-primary" href="{{page.next.url}}" role="next">{{page.next.title}} &gt;&gt;</a>
        </span>
        {% endif %}
    </p>
  </nav>
</div>
<div class="spacer2">&nbsp;</div>
